# Python Tutorial

**Created by Mustafa Germec, PhD**

## 5. Sets in Python

* Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary
* Sets are unordered, but you can remove items and add new items.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the elements contained in the set must be of an immutable type.
* Sets are used to store multiple items in a single variable.
* You can denote a set with a pair of curly brackets **{}**.

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png" width="500" alt="sets"  />

In [47]:
# The empty set of curly braces denotes the empty dictionary, not empty set
x = {}
print(type(x))

<class 'dict'>

In [46]:
# To take a set without elements, use set() function without any items
y = set()
print(type(y))

<class 'set'>

In [2]:
# Take a set
set1 = {'Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022}
set1

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

### Converting list to set

In [4]:
# A list can convert to a set
# Take a list
nlis = ['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022]

# Convert the list to a set
set2 = set(nlis)
set2

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

### Set operations

In [5]:
# Take a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

#### **add()** function

To add an element into a set, we use the function **add()**. If the same element is added to the set, nothing will happen because the set accepts no duplicates.

In [6]:
# Addition of an element to a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3.add('Hi, Python!')
set3

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

In [7]:
# Addition of the same element
set3.add('Hi, Python!')
set3

# As you see that there is only one from the added element 'Hi, Python!'

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

#### **update()** function
To add multiple elements into the set

In [49]:
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

#### **remove()** function

To **remove** an element from the set

In [16]:
set3.remove('Hello Python!')
set3

{1.618, 2022, 3.14, False, 'Hello World!', True}

#### **discard()** function
It leaves the set unchanged if the element to be deleted is not available in the set.

In [50]:
set3.discard(3.14)
set3

{1.618, 2022, False, 'Hello World!', True}

In [17]:
# To verify if the element is in the set
1.618 in set3

True

### Logic operations in Sets

In [18]:
# Take two sets
set4 = set(['Hello Python!', 3.14, 1.618, 'Hello World!'])
set5 = set([3.14, 1.618, True, False, 2022])

# Printing two sets
set4, set5

({1.618, 3.14, 'Hello Python!', 'Hello World!'},
 {False, True, 1.618, 3.14, 2022})

#### To find the intersect of two sets using **&**

In [19]:
intersection = set4 & set5
intersection

{1.618, 3.14}

#### To find the intersect of two sets, use **intersection()** function

In [21]:
set4.intersection(set5)         # The output is the same as that of above

{1.618, 3.14}

#### **difference()** function
To find the difference between two sets

In [61]:
print(set4.difference(set5))
print(set5.difference(set4))

# The same process can make using subtraction operator as follows:
print(set4-set5)
print(set5-set4)

{'Hello Python!', 'Hello World!'}
{False, True, 2022}
{'Hello Python!', 'Hello World!'}
{False, True, 2022}

#### Set comparison

In [62]:
print(set4>set5)
print(set5>set4)
print(set4==set5)

False
False
False

#### **union()** function
it corresponds to all the elements in both sets

In [24]:
set4.union(set5)

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

#### **issuperset()** and **issubset()** functions
To control if a set is a superset or a subset of another set

In [25]:
set(set4).issuperset(set5)

False

In [27]:
set(set4).issubset(set5)

False

In [34]:
print(set([3.14, 1.618]).issubset(set5))
print(set([3.14, 1.618]).issubset(set4))
print(set4.issuperset([3.14, 1.618]))
print(set5.issuperset([3.14, 1.618]))

True
True
True
True

#### **min(), max() and sum()** functions

In [36]:
A = [1,1,2,2,3,3,4,4,5,5]       # Take a list
B = {1,1,2,2,3,3,4,4,5,5}       # Take a set

print('The minimum number of A is', min(A))
print('The minimum number of B is', min(B))
print('The maximum number of A is', max(A))
print('The maximum number of B is', max(B))
print('The sum of A is', sum(A))
print('The sum of B is', sum(B))

# As you see that the sum of A and B is different. Because the set takes no duplicate.

The minimum number of A is 1
The minimum number of B is 1
The maximum number of A is 5
The maximum number of B is 5
The sum of A is 30
The sum of B is 15

#### No mutable sequence in a set
A set can not have mutable elements such as list or dictionary in it. If any, it returns error as follows:

In [39]:
set6 = {'Python', 1,2,3, [1,2,3]}
set6

TypeError: unhashable type: 'list'

#### **index()** function
This function does not work in set since the set is unordered collection

In [48]:
set7 = {1,2,3,4}
set7[1]

TypeError: 'set' object is not subscriptable

#### Copy the set

In [54]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8
print(set9)
set8.add(11)
print(set8)
print(set9)

"""
As you see that although the number 8 is added into the set 'set8', the added number
is also added into the set 'set9'
"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9, 11}

#### **copy()** function
it returns a shallow copy of the original set.

In [56]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8.copy()
print(set9)
set8.add(11)
print(set8)
print(set9)

"""
When this function is used, the original set stays unmodified.
A new copy stored in another set of memory locations is created.
The change made in one copy won't reflect in another.
"""

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9}

"\nWhen this function is used, the original set stays unmodified.\nA new copy stored in another set of memory locations is created.\nThe change made in one copy won't reflect in another.\n"

#### **celar()** function
it removes all elements in the set and then do the set empty.

In [57]:
x  = {0, 1,1,2,3,5,8,13, 21,34}
print( x)
x.clear()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
set()

#### **pop()** function
It removes and returns an arbitrary set element.

In [60]:
x  = {0, 1,1,2,3,5,8,13,21,34}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
{1, 2, 3, 34, 5, 8, 13, 21}